Cython
matplotlib
numpy
omegaconf>=2.0.1
onnx
onnx-simplifier==0.3.5
opencv-python-headless
pyaml
pycocotools
pytorch-lightning>=2.0.0
tabulate
tensorboard
termcolor
torch>=2.0
torchmetrics
torchvision
tqdm
